.timer-outer-div {
    display: flex;
    justify-content: space-between;
    background-color: rgb(203, 200, 200);
    height: 50px;
    width: 300px;
    border: 5px solid black;
    color: black;
    padding-left: 25px;
}

.timer-start-button {
    background-color: green;
}

.timer-stop-button {
    background-color: red;
}

.timer-reset-button {
    background-color: black;
}

.timer-button {
    height: 100%;
    border: none;
}

.timer-button:hover {
    opacity: 80%;
}

.timer-time {
    font-size: x-large;
    align-self: center;
}
